*

!.gitignore

!firmware/
!firmware/**/
!include/
!include/**/
!src/
!src/**/
!static/
!static/**/

!README.md
!Makefile
!common.mk
!project.pros

!*.a
!*.cpp
!*.h
!*.hpp
!*.ld
!*.mk
!*.png
!*.txt

!include/fmt/LICENSE
